<!DOCTYPE html>
<html lang="zh-Hans" data-darkmode="auto">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//unpkg.com/heti/umd/heti.min.css">
  <link rel="stylesheet" href="../../../styles/index.css">
</head>
<body>
<main class="container">
  <article class="article heti heti--ancient">
    {{ content | safe }}
  </article>
</main>
<script src="../../../heti-addon.js"></script>
<script>
  const $$root = document.getElementsByTagName('html')[0]
  const $$main = document.getElementsByTagName('main')[0]
  const $$article = document.getElementsByTagName('article')[0]

  function addEventListeners(nodeList, event, fn) {
    [].forEach.call(nodeList, function(elm) {
      elm.addEventListener(event, fn, false)
    }, false)
  }

  addEventListeners(document.getElementsByClassName('J_darkMode'), 'change', function (e) {
    $$root.setAttribute('data-darkmode', e.target.value)
  })

  addEventListeners(document.getElementsByClassName('J_radioGrid'), 'change', function (e) {
    $$main.setAttribute('data-bg-grid', e.target.value)
  })

  addEventListeners(document.getElementsByClassName('J_fontStack'), 'change', function (e) {
    $$article.className = ['article', 'heti', e.target.value].join(' ')
  })

  const heti = new Heti('.article')
  heti.autoSpacing()
</script>
</body>
</html>