---
layout: ./base.njk
---

<div class="landing">
  <header class="landing-header">
    <h1>{{ header.title | safe }}</h1>
  </header>
  <main class="container">
    {% include "templates/carousel.njk" %}
  </main>
</div>