---
layout: ./base.njk
---

<main class="novels">
  <header class="novels-header">
    <h1>{{ title }}</h1>
    {{ description | md | safe }}
  </header>

  <novel-filter>
    <form class="novels-filter">
      <select name="status" class="selector">
        <option value="all">All novels {{ all_total }}</option>
        <option value="enabled">Enabled by default</option>
        <option value="disabled">Disabled by default</option>
      </select>

      {% for id, info in tags_info %}
      <label class="button is-secondary is-color-{{ info.color }}">
        <input type="checkbox" name="{{ id }}"> {{ info.name }}
      </label>
      {% endfor %}
    </form>

    <ul class="novels-list">
      {% for page in search.pages("url^=/novels/ url!=/novels/", "title") %}
      <li class="novel {% if page.data.enabled %} is-enabled{% endif %}" data-tags="{{ page.data.tags }}">
        <a href="{{ page.data.url }}" class="novel-info">
          <strong class="novel-name">
            {{ page.data.title }}
          </strong>

          {{ page.data.description | md | safe }}
        </a>

        <nav class="novel-tags">
          {% for tag in page.data.tags %}
          <a href="?{{ tag }}=on" class="button is-secondary is-small is-color-{{ tags_info[tag].color }}">
            {{ tags_info[tag].name }}
          </a>
          {% endfor %}
        </nav>
      </li>
      {% endfor %}
    </ul>
  </novel-filter>

</main>