---
layout: ./base.njk
---

<div class="mt-auto" id="novel">
  <link rel="stylesheet" href="//unpkg.com/heti/umd/heti.min.css">
  <link rel="stylesheet" href="/styles/novel.css">
  <main class="container" data-darkmode="auto">
    <article class="article heti heti--ancient">
      <h1>
        {{ title | safe }}
      </h1>
      <h2>
        {{ author | safe }} {{ dynasty | safe }}
      </h2>
      <p>
        {{ description | safe }}
      </p>
      {% include "templates/toc.njk" %}
      {{ content | safe }}
    </article>
  </main>
  <div id="tooltip" role="tooltip">
    <div id="arrow" data-popper-arrow></div>
  </div>
  <div class="floating-button">
    <span>工具</span>
    <aside class="panel">
      <ol class="panel-list panel-list--gray">
        <li><input type="radio" class="J_radioGrid" value="" name="grid" id="grid-disable" checked><label for="grid-disable">网格：关</label></li>
        <li><input type="radio" class="J_radioGrid" value="grid-24" name="grid" id="grid-24"><label for="grid-24">大</label></li>
        <li><input type="radio" class="J_radioGrid" value="grid-12" name="grid" id="grid-12"><label for="grid-12">小</label></li>
      </ol>
      <ol class="panel-list panel-list--gray panel-list--icon">
        <li><input type="radio" class="J_darkMode" value="auto" name="darkmode" id="darkmode-auto" checked><label for="darkmode-auto">🌗</label></li>
        <li><input type="radio" class="J_darkMode" value="light" name="darkmode" id="darkmode-light"><label for="darkmode-light">🌞</label></li>
        <li><input type="radio" class="J_darkMode" value="dark" name="darkmode" id="darkmode-dark"><label for="darkmode-dark">🌙</label></li>
      </ol>
    </aside>
  </div>
  <script src="//unpkg.com/heti/umd/heti-addon.min.js"></script>
  <script src="/novel.js"></script>
  <script>
    const heti = new Heti('.article')
    heti.autoSpacing()
  </script>
</div>