---
layout: ./base.njk
---

<main>
  <div class="container">
    <div class="row text-center">
      {% for page in search.pages("url^=/novels/ url!=/novels/", "title") %}
        <div class="col-lg-3 col-md-4 col-sm-6 themed-grid-col">
          <!-- 示例卡片 -->
          <div class="card m-4">
            <a href="{{ page.data.url }}" class="novel-info">
              <img src="https://s.cn.bing.net/th?id=OHR.RedSeaStars_ZH-CN6243743747_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&qlt=50" class="card-img-top" alt="图片描述">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <strong class="novel-name">
                  {{ page.data.title }}
                </strong>
                </h5>
                <p class="card-text">作者</p>
                <p class="card-text"><small class="text-muted">标签</small></p>
                  {{ page.data.description | md | safe }}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>