---
layout: ./base.njk
---

<div id="novel">
  <main class="container">
    <header class="novel-header">
      <h1>
        {{ title }}
      </h1>
      {{ description | md | safe }}

      {% include "templates/toc.njk" %}
    </header>
    <article class="article heti heti--ancient">
      {{ content | safe }}
    </article>
  </main>
  <div id="tooltip" role="tooltip">
    My tooltip
    <div id="arrow" data-popper-arrow></div>
  </div>
  <span id="popup" style="display:none; position:absolute; background-color:white; border:1px solid black;"></span>
  <div class="floating-button">
    <span>工具</span>
  <aside class="panel">
    <ol class="panel-list panel-list--gray">
      <li><input type="radio" class="J_radioGrid" value="" name="grid" id="grid-disable" checked><label for="grid-disable">网格：关</label></li>
      <li><input type="radio" class="J_radioGrid" value="grid-24" name="grid" id="grid-24"><label for="grid-24">大</label></li>
      <li><input type="radio" class="J_radioGrid" value="grid-12" name="grid" id="grid-12"><label for="grid-12">小</label></li>
    </ol>
    <ol class="panel-list panel-list--gray panel-list--icon">
      <li><input type="radio" class="J_darkMode" value="auto" name="darkmode" id="darkmode-auto" checked><label for="darkmode-auto">🌗</label></li>
      <li><input type="radio" class="J_darkMode" value="light" name="darkmode" id="darkmode-light"><label for="darkmode-light">🌞</label></li>
      <li><input type="radio" class="J_darkMode" value="dark" name="darkmode" id="darkmode-dark"><label for="darkmode-dark">🌙</label></li>
    </ol>
  </aside>
  </div>
  <script src="//unpkg.com/heti/umd/heti-addon.min.js"></script>
  <script src="/main.js"></script>
  <script>
    const $$root = document.getElementsByTagName('html')[0]
    const $$main = document.getElementsByTagName('main')[0]
    const $$article = document.getElementsByTagName('article')[0]

    const button = document.querySelector('.floating-button');
    button.addEventListener('click', () => {
      button.classList.toggle('active');
    });

    document.addEventListener('click', (e) => {
      if (!button.contains(e.target)) {
        button.classList.remove('active');
      }
    });

    function addEventListeners(nodeList, event, fn) {
      [].forEach.call(nodeList, function(elm) {
        elm.addEventListener(event, fn, false)
      }, false)
    }

    function restoreOption(itemName, className, elm) {
      const storedValue = localStorage.getItem(itemName)
      if (storedValue) {
        for (let element of document.getElementsByClassName(className)) {
          element.checked = (storedValue === element.value)
        }
        elm.setAttribute(itemName, storedValue)
      }
    }

    restoreOption('data-darkmode', 'J_darkMode', $$root)
    restoreOption('data-bg-grid', 'J_radioGrid', $$main)

    addEventListeners(document.getElementsByClassName('J_darkMode'), 'change', function (e) {
      $$root.setAttribute('data-darkmode', e.target.value)
      localStorage.setItem('data-darkmode', e.target.value)
    })

    addEventListeners(document.getElementsByClassName('J_radioGrid'), 'change', function (e) {
      $$main.setAttribute('data-bg-grid', e.target.value)
      localStorage.setItem('data-bg-grid', e.target.value)
    })

    const heti = new Heti('.article')
    heti.autoSpacing()
  </script>
</div>