---
title: Welcome to my page
layout: layouts/base.njk
links:
  - text: My Twitter
    url: https://twitter.com/sdvina
  - text: My GitHub profile
    url: https://github.com/sdvina
---
<main>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3 col-md-4 col-sm-6 themed-grid-col">
        <!-- 示例卡片 -->
        <div class="card m-4">
          <img src="https://s.cn.bing.net/th?id=OHR.RedSeaStars_ZH-CN6243743747_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&qlt=50" class="card-img-top" alt="图片描述">
          <div class="card-body">
            <h5 class="card-title">名称</h5>
            <p class="card-text">作者</p>
            <p class="card-text"><small class="text-muted">标签</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


